[user]
	email = james@notjam.es
	name = James Ward

[core]
	pager = less -R

[diff]
	tool = meld

[alias]
	my-standup = "!f() { git shortlog --since=\"${1-'yesterday midnight'}\" --author=\"${2-$(git config user.name)}\"; }; f"
	standup = "!f() { git shortlog --since=\"${1-'yesterday midnight'}\"; }; f"
	today = "shortlog --since='midnight'"

	squash = "merge --ff --squash"

	slug-branch = "slug-current-branch"

	rb = "review-board"
	meldrb = "!f() { MERGE_BASE=$(git merge-base ${1-'origin/master'} ${2-'HEAD'}); git difftool -d -M --minimal --full-index $MERGE_BASE ${2-'HEAD'}; }; f"

	meld = "difftool -d -M --minimal --full-index"

	orphank = "!gitk --all `git reflog | cut -c1-7`&"

	tree = "forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse"

[push]
	default = simple
	followTags = true

[commit]
	template = ~/.gitmessage

[merge]
	ff = only

[rebase]
	autostash = true

[fetch]
	prune = true

[receive]
	denyCurrentBranch = updateInstead

[init]
	templatedir = ~/.gittemplate

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/Projects/forkbombus/"]
	path = "~/.gitconfig.forkbombus"
