[user]
	email = james@notjam.es
	name = James Ward
	signingkey = D335E3AE3B71D896

[core]
	pager = less -R
	hooksPath = ~/.githooks/
	excludesfile = ~/.gitignore

[diff]
	tool = meld

[alias]
	my-standup = "!f() { git shortlog --since=\"${1-'yesterday midnight'}\" --author=\"${2-$(git config user.name)}\"; }; f"
	standup = "!f() { git shortlog --since=\"${1-'yesterday midnight'}\"; }; f"
	today = "shortlog --since='midnight'"

	squash = "merge --ff --squash"

	slug-branch = "slug-current-branch"

	rb = "review-board"
	meldrb = "!f() { MERGE_BASE=$(git merge-base ${1-'origin/master'} ${2-'HEAD'}); git difftool -d -M --minimal --full-index $MERGE_BASE ${2-'HEAD'}; }; f"

	meld = "difftool -d -M --minimal --full-index"

	orphank = "!gitk --all `git reflog | cut -c1-7`&"

	tree = "forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse"

	# hub aliases
	browse = "!hub browse"
	ci-status = "!hub ci-status"
	compare = "!hub compare"
	issue = "!hub issue"
	fork = "!hub fork"
	hub = "!hub"

	sync = "!git pull --ff-only upstream $(git symbolic-ref --short HEAD)"

[push]
	default = simple
	followTags = true

[commit]
	gpgsign = true

[merge]
	ff = only

[rebase]
	autostash = true

[fetch]
	prune = true

[receive]
	denyCurrentBranch = updateInstead

[includeIf "gitdir:~/Projects/imnotjames/"]
	path = "~/.gitconfig.imnotjames"

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	ff = only
